@model List<ParsedAppointment>;

@{
    ViewData["Title"] = "Home Page";
}

<h3>Rendez-vous</h3>
<hr/>
<table class="table">
    <thead>
    <tr>
        <th>
            Date et heure
        </th>
        <th>
            Sujet
        </th>
        <th>
            Courtier
        </th>
        <th>
            Client
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @item.DateTime
            </td>
            <td>
                @item.Subject
            </td>
            <td>
                @item.BrokerName
            </td>
            <td>
                @item.CustomerName
            </td>
            <td>
                <a asp-controller="Appointment" class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.AppointmentId">Détails...</a>
                <a asp-controller="Appointment" class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.AppointmentId">✎</a>
                <a asp-controller="Appointment" class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.AppointmentId">✖</a>
            </td>
        </tr>
    }
    </tbody>
</table>