@model IEnumerable<BrokerAppointments.Models.BrokerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Tous les courtiers</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Adresse mail
            </th>
            <th>
                Numéro de téléphone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a class="btn btn-sm btn-primary text-white" asp-controller="Appointment" asp-action="Create" asp-route-id="@item.BrokerId">+ RDV</a>
                <a class="btn btn-sm btn-secondary text-white" asp-action="Details" asp-route-id="@item.BrokerId">Détails...</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.BrokerId">✎</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.BrokerId">✖</a>
            </td>
        </tr>
}
    </tbody>
</table>
